[Unit]
Description={{webapp_service_name}}
Requires=After=mysql.service       # Requires the mysql service to run first

[Service]
ExecStart=/usr/bin/java -jar {{jetty_target}} {{webapp_service_name}}.xml
Restart=always
RestartSec=30                       # Restart service after 30 seconds if the service crashes
StandardOutput=journal              # Output to journal
StandardError=journal               # Output to journal
SyslogIdentifier={{webapp_service_name}}
WorkingDirectory={{webapp_directory}}
User={{webapp_service_user}}

[Install]
WantedBy=multi-user.target
