{
  "clientId": "{{oidc_application_client_id}}",
  "clientSecret": "{{oidc_application_secret}}",
  "clientName": "{{oidc_application_name}}",
  "resourceIds": [],
  "scope": [
    "openid",
    "email",
    "profile"
  ],
  "authorities": [],
  "accessTokenValiditySeconds": 3600,
  "refreshTokenValiditySeconds": null,
  "redirectUris": [
    "{{webapp_external_base}}/openid_connect_login"
  ],
  "claimsRedirectUris": [],
  "uri": null,
  "logoUri": null,
  "contacts": [
    "{{oidc_contact_email}}"
  ],
  "tosUri": null,
  "tokenEndpointAuthMethod": "client_secret_basic",
  "grantTypes": [
    "authorization_code"
  ],
  "responseTypes": [
    "code"
  ],
  "policyUri": null,
  "jwksUri": null,
  "jwks": null,
  "applicationType": null,
  "sectorIdentifierUri": null,
  "subjectType": null,
  "requestObjectSigningAlg": null,
  "idTokenSignedResponseAlg": null,
  "idTokenEncryptedResponseAlg": null,
  "idTokenEncryptedResponseEnc": null,
  "userInfoSignedResponseAlg": null,
  "userInfoEncryptedResponseAlg": null,
  "userInfoEncryptedResponseEnc": null,
  "tokenEndpointAuthSigningAlg": null,
  "defaultMaxAge": 60000,
  "requireAuthTime": true,
  "defaultACRValues": [],
  "intitateLoginUri": null,
  "postLogoutRedirectUri": [],
  "requestUris": [],
  "description": "",
  "allowIntrospection": false,
  "reuseRefreshToken": true,
  "clearAccessTokensOnRefresh": true,
  "dynamicallyRegistered": true
}
