<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:security="http://www.springframework.org/schema/security"
        xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

        <bean id="configBean" class="org.mitre.openid.connect.config.ConfigurationPropertiesBean">
                <property name="issuer" value="{{oidc_config_issuer}}" />
                <property name="logoImageUrl" value="{{oidc_config_logo_image_url}}" />
                <property name="topbarTitle" value="{{oidc_config_topbar_title}}" />
        </bean>

    <bean id="userAuthoritiesMapper" class="ca.uhnresearch.pughlab.authentication.SimpleUserGrantedAuthoritiesMapper">
        <property name="adminUserList" value="{{oidc_admin_user}}" />
    </bean>

{% for item in oidc_ldap_providers %}
    <bean id="{{item.name}}" class="{{item.class}}">
{% for constructor in item.arguments %}
        <constructor-arg value="{{constructor.value}}" />
{% endfor %}
        <property name="userDetailsContextMapper" ref="ldapContextMapper" />
    </bean>
{% endfor %}

    <security:authentication-manager alias="authenticationManager">
{% for item in oidc_ldap_providers %}
        <security:authentication-provider ref="{{item.name}}" />
{% endfor %}
    </security:authentication-manager>

</beans>
