<?xml version="1.0"?>
<!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure.dtd">
<Configure id="Server" class="org.eclipse.jetty.server.Server">

  <New id="httpConfig" class="org.eclipse.jetty.server.HttpConfiguration">
    <Set name="outputBufferSize">32768</Set>
    <Set name="requestHeaderSize">8192</Set>
    <Set name="responseHeaderSize">8192</Set>

    <Call name="addCustomizer">
      <Arg><New class="org.eclipse.jetty.server.ForwardedRequestCustomizer"/></Arg>
    </Call>
  </New>

  <!-- Fairly awful configuration of the class list -->
  <Call name="setServerDefault" class="org.eclipse.jetty.webapp.Configuration$ClassList">
    <Arg><Ref refid="Server" /></Arg>
    <Call name="addAfter">
      <Arg>org.eclipse.jetty.webapp.FragmentConfiguration</Arg>
      <Arg>
        <Array type="java.lang.String">
          <Item>org.eclipse.jetty.plus.webapp.EnvConfiguration</Item>
          <Item>org.eclipse.jetty.plus.webapp.PlusConfiguration</Item>
        </Array>
      </Arg>
    </Call>
  </Call>

  <Call name="addConnector">
    <Arg>
      <New class="org.eclipse.jetty.server.ServerConnector">
        <Arg name="server"><Ref refid="Server" /></Arg>
        <Arg name="factories">
          <Array type="org.eclipse.jetty.server.ConnectionFactory">
            <Item>
              <New class="org.eclipse.jetty.server.HttpConnectionFactory">
                <Arg name="config"><Ref refid="httpConfig" /></Arg>
              </New>
            </Item>
          </Array>
        </Arg>
        <Set name="port"><Property name="jetty.port" default="{{webapp_listen_port}}"/></Set>
      </New>
    </Arg>
  </Call>

<!-- BEGIN WEBAPP -->
<!-- END WEBAPP -->
<!-- BEGIN AUTHENTICATION WEBAPP -->
<!-- END AUTHENTICATION WEBAPP -->

  <New id="rewriteHandler" class="org.eclipse.jetty.rewrite.handler.RewriteHandler">
    <Set name="rewriteRequestURI">true</Set>
    <Set name="rewritePathInfo">false</Set>
    <Set name="originalPathAttribute">requestedPath</Set>

    <Call name="addRule">
      <Arg>
        <New class="org.eclipse.jetty.rewrite.handler.RewriteRegexRule">
          <Set name="regex">^/$</Set>
          <Set name="replacement">/index.do</Set>
        </New>
      </Arg>
    </Call>

    <Set name="handler">
      <New class="org.eclipse.jetty.server.handler.HandlerCollection">
        <Set name="handlers">
          <Array type="org.eclipse.jetty.server.Handler">
<!-- BEGIN AUTHENTICATION WEBAPP HANDLER -->
<!-- END AUTHENTICATION WEBAPP HANDLER -->
<!-- BEGIN WEBAPP HANDLER -->
<!-- END WEBAPP HANDLER -->
          </Array>
        </Set>
      </New>
    </Set>
  </New>

  <Set name="handler"><Ref refid="rewriteHandler"/></Set>

  <Call class="org.eclipse.jetty.util.log.Log" name="getRootLogger">
    <Call name="setDebugEnabled">
      <Arg type="boolean">true</Arg>
    </Call>
  </Call>

</Configure>
